<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <%= simple_form_for recipe do |f| %>
      <%= f.input :name, label: 'Nom de la recette', placeholder: 'Tarte aux pommes', error: 'Donner obligatoirement un nom à la recette' %>
      <%= f.input :prep_time, label: 'Temps de préparation (min)', placeholder: '25', error: 'Indiquer obligatoirement un temps' %>
      <%= f.input :cook_time, label: 'Temps de cuisson (min)', placeholder: '30', error: 'Indiquer obligatoirement un temps' %>
      <%= f.input :portions, label: 'Nombre de portions (pers.)', placeholder: '8', error: 'Indiquer obligatoirement un nombre' %>
      <%= f.input :category, label: 'Catégorie', error: 'Choisir dans la liste', collection: Recipe::CATEGORIES, input_html:{class: 'select2'} %>
      <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Télécharger une photo' %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
      <%= f.button :submit, "Créer cette recette", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
