<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('https://res.cloudinary.com/dami1a/image/upload/v1550397098/Atelier%20gourmand/home2.jpg') %>);">
  <div class="banner-content">
    <h1>L'atelier gourmand <br/> de Manon</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path recipe.photo %>);">
          <div class="card-category"><%= recipe.category %></div>
          <div class="card-description">
            <h2><%= recipe.name %></h2>
            <ul>
              <li><%= "temps de préparation : #{recipe.prep_time} min" %></li>
              <li><%= "temps de cuisson : #{recipe.cook_time} min" %></li>
              <li><%= "pour #{recipe.portions} personne(s)" %></li>
            </ul>
          </div>
          <a class="card-link" href="#" >
            <%= link_to '<i class="far fa-trash-alt card-user"></i>'.html_safe, recipe_path(recipe),
            method: :delete,
            data: { confirm: "Etes-vous certain de vouloir supprimer cette recette ?" } %>
          </a>
          <%= link_to '', recipe_path(recipe.id), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
