<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('https://res.cloudinary.com/dami1a/image/upload/c_scale,h_1280/v1550372692/Atelier%20gourmand/recipe_page.jpg') %>);">
  <h1 class="text-center"><%= @recipe.name %></h1>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"><%= image_tag @recipe.photo.url(:thumnail) %></div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <h2 class="text-center">Ingrédients</h2>
      <%= simple_form_for [@recipe, Dose.new] do |f| %>
        <%= f.input :quantity, label: 'Quantité', placeholder: '5cl', error: 'Indiquer obligatoirement une quantité' %>
        <%= f.association :ingredient, label: 'Ingrédient', error: 'Choisir dans la liste', input_html:{class: 'select2'} %>
        <br>
        <%= f.submit "Ajouter un ingredient", class: 'btn btn-success' %>
      <% end %>
      <h3>Liste des ingredients</h3>
      <ul>
        <% Dose.where(recipe_id: @recipe.id).each do |dose| %>
          <li><%= "#{dose.quantity} - #{dose.ingredient.name}   " %><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, dose_path(dose),
        method: :delete,
        data: { confirm: "Etes-vous certain de vouloir supprimer cet ingrédient ?" } %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <h2 class="text-center">Instructions</h2>
      <%= simple_form_for [@recipe, Instruction.new] do |f| %>
        <%= f.input :step, label: 'Etape', error: "Définir le numéro d'étape (ordre chronologique)", collection: Instruction::STEPS, input_html:{class: 'select2'} %>
        <%= f.input :description, label: 'Consignes', placeholder: 'Détailler les consignes', error: 'décrire obligatoirement les consignes de cette étape' %>
        <%= f.submit "Ajouter une instruction", class: 'btn btn-success' %>
      <% end %>
      <h3>Liste des instructions</h3>
      <ul style="list-style-type: none">
        <% Instruction.where(recipe_id: @recipe.id).each do |instruction| %>
          <li><%= "#{instruction.step} - #{instruction.description}   " %><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, instruction_path(instruction),
        method: :delete,
        data: { confirm: "Etes-vous certain de vouloir supprimer cette instruction ?" } %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
